body {
  font-family: Sans-Serif;
}

header {
  background-color: #6B0028;
  color: #B3D2EB;
}

header h1 {
 font-size: 96px;
 
}

.main {
  font-size: 24px;
  color: #fff;
  background-color: #005C45;
}

footer {
  background-color: #FFC995;
  color: #005C45;
}
