
@import url('https://fonts.googleapis.com/css?family=Bevan');

body {
  font-family: Sans-Serif;
  background-color: #FFA79D;
  margin: 0;
  padding: 0;
}

header, .main, footer {
  margin: 0;
  padding: 2em;
}

header {
  background-color: #7F0029;
  color: #94D99D;
}

header h1 {
 font-family: 'Bevan', cursive;
 font-size: 72px;
 letter-spacing: -2px;
 line-height: 0.8;
}
header h1 strong {
  font-size: 128px;
  letter-spacing: -12px;
}

.main {
  font-size: 24px;
  color: #fff;
  background-color: #005C45;
}

.main p {
  width: 28em;
}

footer {
  background-color: #FFA79D;
  color: #005C45;
}
