body {
  font-family: Sans-Serif;
  background-color: #FFC995;
  margin: 0;
  padding: 0;
}

header, .main, footer {
  margin: 0;
  padding: 2em;
}

header {
  background-color: #6B0028;
  color: #B3D2EB;
}

header h1 {
 font-size: 72px;
 letter-spacing: -2px;
 line-height: 0.8;
}
header h1 strong {
  font-size: 128px;
  letter-spacing: -12px;
}

.main {
  font-size: 24px;
  color: #fff;
  background-color: #005C45;
}

.main p {
  width: 28em;
}

footer {
  background-color: #FFC995;
  color: #005C45;
}
